.DS_Store
./git
fonts/.DS_Store
.prettierignore
x-octagon.svg
power(1).svg
eye.svg
eye-off.svg
junk.txt
junk/
graveyard.js
/posts/01*
/posts/02*
/posts/03*
/posts/04*
/posts/05*
fonts/DM_Mono/FellTypes-Italic.otf
fonts/DM_Mono/FellTypes-Normal.otf
fonts/DM_Mono/Archivo-Italic.ttf
