/* Fonts */

@font-face {
    font-family: 'DM Mono Regular';
    src: url('/fonts/DM_Mono/DMMono-Regular.ttf') format('truetype');
}

/* Base Elements */

:root {
    background-color: #0c0c0d;
    font-family: 'DM Mono Regular', 'Consolas', monospace;
}

html {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: background-color .65s;
    transition-timing-function: ease-out;
}

body {
    margin: auto;
    padding: 80px 60px;
    position: relative;
    width: 620px;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

#top-part {
    color: white;
    display: flex;
}

.top-text {
    font-size: 1.35rem;
}

.options {
    margin-left: auto;
}

.first-option{
    margin-right: 12px;
    color: #a0a0a0;
    cursor: pointer;
}

.second-option{
    margin-right: 12px;
    color: #a0a0a0;
    cursor: pointer;
}

.first-option:hover {
    /* color: #114b9c; */
    /* color: #FEFFBE; */
    color: #A54D04;
}

.second-option:hover {
    /* color: #FEFFBE; */
    color: #A54D04;
}

::-moz-selection {
    color: black;
    background-color: yellow;
}

::selection {
    color: black;
    background-color: yellow;
}

a {
    font-size: 1rem;
    color: rgb(160, 160, 160); 
    font-size: 1.2rem;
    text-decoration: none;
    transition: ease-in-out opacity 0.1s;
}

a[id^='apollo']:hover {
    color: #7b60e8;
    text-decoration-line: none;
}

a[id^='room']:hover{
    color: #0752f5;
    text-decoration-line: none;
}

a#social {
    color: rgb(160, 160, 160); 
}

a.social-right {
    color: rgb(160, 160, 160); 
    margin-right: 0px;
    cursor: pointer;
}

a.social-right:hover {
    color: rgb(0, 175, 111);
    text-decoration: none;
}

a#social:hover {
    /* color: #d18369; */
    /* color: #cc1644; */
    color: #b39a70;
    text-decoration-line: none;
}

p {
    font-size: 1rem;
}

p#desc {
    text-align: auto;
    line-height: 1.5em;
    color: #d3d3d3;
    font-size: 1.2rem;
    margin: 22px 0px 25px;
    width: clamp(276px,  330px);
    max-width: 360px;
    /* min-width:276px; */
}

p#links{
    color: #4f4f4f;
    margin: 0;
    display: flex;
    align-items: center;
}

#socials {
    display: flex;
    flex-flow: row;
}

.stick-right {
    text-align: right;
    margin-left: auto;
}


.console-underscore {
    display: inline-block;
    position: relative;
    top: 0.05em;
    right: 8px;
    margin-left: 12px;
}

/*lol*/
.hidden {
    display: none !important;
}

#chevron {
    margin-right: 12px;
    transition: color 1s;
}

#play-button {
    color: white;
}

#right-container {
    display: flex;
    align-content: center;
}

#pen {
    margin-right: 12px;
}

a#blog-link:hover {
    color: white;
}