/* Fonts */

@font-face {
    font-family: 'DM Mono Regular';
    src: url('/fonts/DM_Mono/DMMono-Regular.ttf') format('truetype');
}

/* Base Elements */

:root {
    background-color: #0c0c0d;
    font-family: 'DM Mono Regular', 'Consolas', monospace;
}

html {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: background-color .75s;
}

body {
    margin: auto;
    padding: 10px 30px 6px;
    position: relative;
    width: 720px;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 406px;
}

#top-part {
    color: white;
}

.top-text {
    font-size: 1.45rem;
}

::-moz-selection {
    color: black;
    background-color: yellow;
}

::selection {
    color: black;
    background-color: yellow;
}

a {
    font-size: 1rem;
    color: rgb(182, 182, 182);
    font-size: 1.2rem;
    text-decoration: underline;
    transition: ease-in-out opacity 0.1s;
}

a[id^='apollo']:hover {
    color: #7b60e8;
    text-decoration-line: none;
}

a[id^='room']:hover{
    color: #0752f5;
    text-decoration-line: none;
}

p {
    font-size: 1rem;
}

/* picture padding */
p#desc:first-of-type {
    margin: 24px 0px;
}

p#desc {
    text-align: auto;
    text-align-last: auto;
    text-align: justify;
    line-height: 1.5em;
    color: #b5b5b5;
    font-size: 1.2rem;
}

p#links{
    color: #4f4f4f;
    margin: 0;
}

a#social {
    color: #5e5e5e;
}

a#social:hover {
    color: rgb(0, 175, 111);
    text-decoration-line: none;
}


.console-underscore {
    display: inline-block;
    position: relative;
    top: 0.05em;
    right: 8px;
}

.hidden {
    display: none;
}