/* Fonts */

@font-face {
    font-family: 'DM Mono Regular';
    src: url('/fonts/DM_Mono/DMMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'DM Mono Medium';
    src: url('/fonts/DM_Mono/DMMono-Medium.ttf') format('truetype');
}

/* Base Elements */

:root {
    font-family: 'DM Mono Regular', 'Consolas', monospace;
}

html {
    background-color: #0c0c0d;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: background-color .65s;
    transition-timing-function: ease-out;}

body {
    padding: 58px 0px;
    position: relative;
    width: 444px;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    height: 328px;
    transition: backdrop-filter 3.5s, border-color 1s, box-shadow 5s, background-color 1s;
    transition-timing-function: cubic-bezier(.31,.57,.26,.84);
    cursor: default;
    border-radius: 50px;
    border: 0px solid #ffffff00;
    background-color: #ffffff00;
}

p#desc::-webkit-scrollbar {
    display: none;
  }
  
.transparent-surface {
    border-radius: 50px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 2px solid #ffffff0d;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.15) 0px -3px 5px;
}

.darken {
    backdrop-filter: blur(75px);
    -webkit-backdrop-filter: blur(75px);
    background-color: rgba(0 ,0 ,0 , 0.4) !important;
}

/* .large-panel {
    height:
    width:
} */

body::-webkit-scrollbar {
  display: none;
}

#top-part {
    color: white;
    display: flex;
    transition: opacity 1s;
    margin-top: 8px;
}

.top-text {
    font-size: 1.45rem;
    font-family: 'DM Mono Medium', 'Consolas', monospace;
}

.options {
    margin-left: auto;
}

.first-option {
    margin-right: 4px;
    color: #8f8f8f;
    cursor: pointer;
}

.second-option {
    margin-right: 2px;
    color: #8f8f8f;
    cursor: pointer;
}

.last-option{
    color: #8f8f8f;
    cursor: pointer;
}

.first-option:hover,
.second-option:hover, 
.last-option:hover {
    /* color: #114b9c; */
    /* color: #FEFFBE; */
    color: #A54D04;
}

::-moz-selection {
    color: black;
    background-color: yellow;
}

::selection {
    color: black;
    background-color: yellow;
}

a {
    font-size: 1rem;
    color: rgb(160, 160, 160); 
    font-size: 1.2rem;
    text-decoration: none;
    transition: ease-in-out opacity 0.1s;
}

a[id^='apollo']:hover {
    /* color: #7b60e8; */
    color: white;
    text-decoration-line: none;
}

a[id^='room']:hover{
    /* color: #0752f5; */
    color: white;
    text-decoration-line: none;
}

a.social {
    color: rgb(160, 160, 160); 
}

a.social-right {
    color: rgb(160, 160, 160); 
    margin-right: 0px;
    cursor: pointer;
}

a.social-right:hover {
    /* color: rgb(0, 175, 111); */
    color: white;
    text-decoration: none;
}

a.social:hover {
    /* color: #b39a70; */
    /* color: #A54D04; */
    color: white;
    text-decoration-line: none;
}

p {
    font-size: 1rem;
}

p#desc {
    line-height: 1.5em;
    color: #d3d3d3;
    font-size: 1.2rem;
    margin: 20px 0px 25px;
    overflow-y:scroll;
    cursor: url("media/question-cursor.svg"), help;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

p#links{
    color: #4f4f4f;
    margin: 0;
    display: flex;
    align-items: center;
}

#socials {
    display: flex;
    flex-flow: row;
    transition: opacity 1s;
}

.stick-right {
    text-align: right;
    margin-left: auto;
}


.console-underscore {
    display: inline-block;
    position: relative;
    top: 0.05em;
    right: 4px;
    margin-left: 12px;
}

/*lol*/
.hidden {
    display: none !important;
}

#chevron {
    margin-right: 16px;
}

#play-button {
    color: white;
}

#right-container {
    display: flex;
    align-content: center;
}

#pen {
    margin-right: 12px;
}

a.posts-link {
    margin-right: 14px;
}

a.posts-link:hover {
    color: #ffffff;
}

.posts-date {
    font-size: 0.95rem;
    color: #757575;
}

#main-copy {
    transition: opacity 1s;
    max-width: 340px;
    max-height: 52vh;
}

#expand {
    color: #d3d3d3;
    padding-right: 10px;
    position:fixed;
    left: calc(50vw - 175px);
    transition: opacity 1.5s;
    opacity: 1;
}

.hidden-opacity{
    opacity: 0 !important;
}

ul {
    margin: 0;
    padding: 0 0 0 30px;
}

li {
    max-width: 240px;
    overflow: wrap;
    padding: 8px 0 0 0;
    list-style-type: none;
}

li:first-child {
    margin-bottom: 14px;
}

/* You shouldn't code like this kids */
.flexbox-util {
/* #content-container { */
    display: flex;
    /* align-items: center; */
    flex-flow: column;
    justify-content: center;
}