@font-face {
  font-family: 'Archivo';
  src: url('/fonts/DM_Mono/Archivo.ttf') format('truetype');
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/DM_Mono/SpaceGrotesk.ttf') format('truetype');
}

:root {
  --metaBeforeElementHeight: 216px;
  --metaBackground: rgb(39, 39, 39);
  --main-color: #f4ddc6;
  --background-color: #0c0c0d;
  --third-color: #b8a28e;
  transition: background-color 1s, color  1s;
}

body {
  padding-top: 1.5rem;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 704px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
}

html {
    min-width: 344px;
    max-width: 30rem;
    padding: 1rem;
    margin: auto;
    line-height: 1.5rem;
    font-size: 24px;
    font-weight: 400;
    height: calc(100vh - 3rem);
    -ms-overflow-style: none; 
    scrollbar-width: none;
    transition: background-color 1s;
    background-color: var(--background-color);
    color: var(--main-color);
}

html::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 3.5rem;
  line-height: 3.75rem;
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  line-height: 3.25rem;
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
}

p {
  text-indent: 2rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

p:first-of-type {
  margin-top: 0;
}

#see-more {
  margin-bottom: 4rem;
  padding-bottom: 4rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap:wrap;
  /* opacity: 0.75; */
  transition: opacity 1s;
}

#see-more:hover {
  opacity: 1;
}

.see-more-text {
  border-radius: 75px;
  padding: 2rem;
  width: 400px;
  cursor: pointer;
  background-color: var(--third-color);
  color: var(--background-color);
  border: 4px solid var(--third-color);
  transition: background-color 1s, color 0.25s, border 1s, box-shadow 2s;
}

.see-more-text:hover{
  /* box-shadow: var(--main-color) 0px 5px 15px; */
  /* color: #bebebe; */
  /* background-color: var(--main-color); */
  /* border: 4px solid var(--main-color); */
  /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

  /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; */
}

/* .return-home-text {
  border-radius: 75px;
  padding: 2rem;
  width: 200px;
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--main-color);
  border: 4px solid var(--background-color);
  transition: background-color 0.75s, border 0.75s;
}

.return-home-text:hover{
  background-color: var(--main-color);
  border: 4px solid var(--main-color);
} */

#return-home {
  font-size: 1.5rem;
  font-weight: bold;
  /* line-height: 3.25rem; */
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  padding-bottom: 0.75rem;
}

#return-home-text{
  transition: color 1s, background-color 1s, box-shadow 0.5s;
  border-radius: 55px;
  padding: 1.5rem 2rem;
}

#return-home-text:hover{
  color: var(--main-color);
  /* background-color: var(--third-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}


.bottom-divider {
  border-bottom: 1px solid var(--third-color);
  width: 350px;
  padding-top: 1.5rem;
}

.no-link-style {
  color: var(--third-color);
  text-decoration: none;
  transition: color 1s;
}

.no-link-style:hover {
  color: var(--main-color);
}

#title {
  margin: 0 0 2.5rem 0;
  padding: 0 2rem 0;
  transition: color 0.4s;
  min-height: 270px;
  display: flex;
  align-items: center;
  /* color: #ffffff0d;
  background: rgb(12,12,13);
  background: linear-gradient(75deg, rgb(12, 12, 13) 0%, rgb(44, 44, 46) 100%);
  background-clip: text; */
}

#heading {
  font-weight: 400;
  margin: 0px 0 8px;
  font-size: 24px;
  font-family: 'Archivo', sans-serif;
  padding-left: 18px;
}

#heading-container {
  display: flex;
  flex-flow:column;
  justify-content: space-evenly;
  padding: 4px;
  transition: height 4s;
}

#meta {
  padding: 4rem 0 32px 0;
  margin: 0 0 2rem 0;
  /* color: white; */
  /* display: inline-block; */
  display: flex;
  flex-flow:column;
  border-radius: 50px;
  /* cursor: pointer; */
  border-right: none;
  align-items: center;
  grid-area: 1 / 1 / 2 / 2;
  /* background-color: rgb(33, 163, 192); */
  /* transition: background-color 1.5s; */
}
      /* #meta:after{
        content: "";
        position: absolute;
        z-index: -1;
        top: 33px;
        left: -28vw;
        pointer-events: none;
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(0, 0, 0) 90%);
        width: 100%;
        height: var(--metaBeforeElementHeight);
      } */

/* #meta:hover {
  background-color: rgb(68, 5, 120);
} */

.hidden {
  display: none !important;
}

/* sash on left of title */
/* 2 lines is 252px */
/* #meta:before{
  position: absolute;
  z-index: -1;
  top: 32px;
  content: "";
  /* background-color: rgb(8, 86, 158); */
  /* background-color: var(--metaBackground); */
  /* background-image: linear-gradient(to left, rgb(8, 86, 158) 100%, rgb(96, 158, 8) 0%); */
  /* height: var(--metaBeforeElementHeight); */
  /* width: 50vw; */
  /* left: 0px; */
  /* transition: background-color 1.5s; */
    /* border: 1px solid rgb(5, 52, 96); */
/* } */

#date {
  font-size: 20px;
  margin: 0 0 1rem 0;
  font-weight: 400;
  font-family: 'Archivo', sans-serif;
  color: var(--third-color)
}

#dot {
  font-size: 20px;
  margin: 0 0 1rem 1rem;
  font-weight: 400;
  font-family: 'Archivo', sans-serif;
  color: var(--third-color);
  cursor: pointer;
  transition: color 1s, transform 1s;
}

#dot:hover {
  color: var(--main-color);
  transform: rotate(359deg);
}

/* forgive me */
.spin-utility-class {
  transform: rotate(359deg);
  transition: transform 1s;
}

#name {
  font-size: 20px;
  margin: 0 0 1rem 1rem;
  font-weight: 400;
  font-family: 'Archivo', sans-serif;
  cursor: pointer;
  transition: color 1s;
}
/* 
#name:hover {
  color: var(--main-color);
} */

#title-row {
  display: flex;
  align-items: center;
  flex-flow: row;
}

#meta-row {
  display: flex;
  flex-flow: row;
}

.icon {
  padding-top:6px;
  /* padding-left: 1px; */
  color: rgb(255, 255,255);
  min-height: 23px;
  min-width: 27px;
}

#play-icon {
  padding-top: 4px;
  color: #d9d9d9;
  transition: color 0.5s;
  cursor: pointer;
  min-width: 32px;
  min-height: 31.35px;
  z-index: 2;
}

#audiobutton {
  max-height: 52px;
  transition: box-shadow 1s;
}

/* #audiobutton:hover{
  /* box-shadow: rgba(var(--rgb-color), 0.5) 0px 5px); */
  /* box-shadow: rgba(255, 255, 255, 0.2) 0px 5px, rgba(255, 255, 255, 0.15) 0px 10px, rgba(255, 255, 255, 0.1) 0px 15px, rgba(255, 255, 255, 0.05) 0px 20px; */
/* } */

#play-icon:hover {
  color: rgb(255, 255, 255);
}

#content-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 32rem;
  grid-area: 2 / 1 / 3 / 2;
}

/* TODO style scroll bar for content */
#content {
  font-family: 'Archivo', sans-serif;
  margin: 0 0 6.1rem 0;
  font-weight: 400;
  word-wrap: break-word;
  /* max-height: calc(100vh - 3rem - 230px); */
  overflow-y: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none;
  display: flex;
  flex-flow: column;
  align-content: center;
  max-width: 24rem;
  padding-left: 8px;
  /* padding: 0 2rem 0 0; */
  transition: border-color 1.5s;
  transition-timing-function: cubic-bezier(.31,.57,.26,.84);
}

/* #content:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 0.5) 90%);
  width: 100%;
  height: 10em;
} */

#content:hover {
  border-color: rgb(80, 80, 80)
}

#content::-webkit-scrollbar {
  display: none;
}

#status-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.progress-container {
  background-color: rgb(255, 255, 255, 0);
  height: 12px;
  width: 100%;
}

.progress-bar {
  background-color: var(--third-color);
  height: 16px;
  width: 0%
}

.wrapper { 
  /* background: linear-gradient(124deg, var(--main-color), var(--third-color), #ffffff, var(--main-color), var(--third-color)); */
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 10s ease infinite;
  -z-animation: rainbow 10s ease infinite;
  -o-animation: rainbow 10s ease infinite;
    animation: rainbow 10s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

/* Responsive Layout Styling */

@media screen and (max-width: 758px) {
  body {
    grid-template-rows: 535px 1fr;
  }

  #meta {
    padding: 1rem 0 0;
    margin: 0;
    min-width: 1px;
  }

  #title {
    font-size: 3rem;
    line-height: 3.25rem;
    min-height: 100%;
    display: inline-block;
  }

  .bottom-divider {
    padding: 1rem;
  }

  #content-container {
    padding-top: 0.75rem;
  }
}

@media screen and (max-width: 674px) {
  body {
    grid-template-rows: 255px 1fr;
  }

  html {
    font-size: 18px;
  }

  #title {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
    width: 410px;
    min-width: 236px;
    margin: 0 50px;
  }

  .bottom-divider {
    padding: 0.25rem;
  }

  #content {
    margin-bottom: 3rem;
  }

  #content-container {
    padding-top: 0;
  }

  .see-more-text {
    width: 250px;
    font-size: 2.5rem;
  }

  #see-more {
    margin-bottom: 1rem;
  }

  .bottom-divider {
    width: 60vw;
  }
}

@media screen and (max-width: 452px) {
  /* #content-container {
    padding-top: 2rem;
  } */

  #title {
    font-size: 1.75rem;
    max-width: calc(100vw - 4rem)
  }

  body {
    grid-template-columns: calc(100vw - 3rem);
  }
}

@media screen and (max-width: 382px) {
  body {
    grid-template-rows: 190px 1fr;
  }

  html {
    font-size: 16px;
  }

  #date {
    font-size: 16px;
  }

  #audiobutton {
    font-size: 16px;
  }

  #content-container {
    padding: 1rem 1rem 0;
  }

  .see-more-text {
    max-width: 50vw;
    font-size: 1.5rem;
  }

  #return-home-text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 330px) {
  #date {
    font-size: 14px;
  }

  #audiobutton {
    font-size: 14px;
  }

  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 290px) {
  #date {
    font-size: 12px;
  }

  #audiobutton {
    font-size: 12px;
  }
}