@font-face {
  font-family: 'Archivo';
  src: url('/fonts/DM_Mono/Archivo.ttf') format('truetype');
}

/* @font-face {
  font-family: 'Archivo Italic';
  src: url('/fonts/DM_Mono/Archivo-Italic.ttf') format('truetype');
} */

@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/DM_Mono/SpaceGrotesk.ttf') format('truetype');
}

/* Get roasted jquery */
:root {
  --metaBeforeElementHeight: 216px;
  --metaBackground: rgb(39, 39, 39);
}

body {
  padding-top: 4rem;
}

html {
    max-width: 30rem;
    padding: 1rem;
    margin: auto;
    line-height: 1.5rem;
    font-size: 24px;
    font-weight: 400;
    height: calc(100vh - 3rem);
    -ms-overflow-style: none; 
    scrollbar-width: none;
    background-color: #0c0c0d;
    color: #d6d1c9;
}

html::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 3.5rem;
  line-height: 3.75rem;
  text-align: center;
}

p:first-of-type {
  margin-top: 0;
}

#title {
  font-family: 'Space Grotesk', sans-serif;
  margin: 0 0 1.5rem 0;
  padding: 0 2rem 0;
  font-weight: 800;
}

#heading {
  font-weight: 200;
  margin: 0px 0 8px;
  font-size: 24px;
  font-family: 'Archivo', sans-serif;
  padding-left: 18px;
}

#heading-container {
  display: flex;
  flex-flow:column;
  justify-content: space-evenly;
  padding: 4px;
  transition: height 4s;
}

#meta {
  padding: 4rem 0 32px 0;
  margin: 0 0 4rem 0;
  /* color: white; */
  /* display: inline-block; */
  display: flex;
  flex-flow:column;
  border-radius: 50px;
  cursor: pointer;
  border-right: none;
  align-items: center;
  /* background-color: rgb(33, 163, 192); */
  /* transition: background-color 1.5s; */
}

      /* #meta:after{
        content: "";
        position: absolute;
        z-index: -1;
        top: 33px;
        left: -28vw;
        pointer-events: none;
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(0, 0, 0) 90%);
        width: 100%;
        height: var(--metaBeforeElementHeight);
      } */

/* #meta:hover {
  background-color: rgb(68, 5, 120);
} */

@media screen and (max-width: 960px) {
  #meta {
    /* idk */
    min-width: 1px;
  }  
}

.hidden {
  display: none !important;
}

/* sash on left of title */
/* 2 lines is 252px */
/* #meta:before{
  position: absolute;
  z-index: -1;
  top: 32px;
  content: "";
  /* background-color: rgb(8, 86, 158); */
  /* background-color: var(--metaBackground); */
  /* background-image: linear-gradient(to left, rgb(8, 86, 158) 100%, rgb(96, 158, 8) 0%); */
  /* height: var(--metaBeforeElementHeight); */
  /* width: 50vw; */
  /* left: 0px; */
  /* transition: background-color 1.5s; */
    /* border: 1px solid rgb(5, 52, 96); */
/* } */

#date {
  font-size: 20px;
  margin: 0 0 1rem 0;
  font-weight: 200;
  font-family: 'Archivo', sans-serif;
}

#title-row {
  display: flex;
  flex-flow: row;
}

#meta-row {
  display: flex;
  flex-flow: row;
}

.icon {
  padding-top:6px;
  /* padding-left: 1px; */
  color: rgb(255, 255,255);
  min-height: 23px;
  min-width: 27px;
}

#play-icon {
  padding-top: 4px;
  color: #d9d9d9;
  transition: color 0.5s;
  cursor: pointer;
  min-width: 32px;
  min-height: 31.35px;
  z-index: 2;
}

#play-icon:hover {
  color: rgb(255, 255, 255);
}

#content-container {
  display: flex;
  justify-content: center;
  max-width: 32rem;
}

/* TODO style scroll bar for content */
#content {
  font-family: 'Archivo', sans-serif;
  margin: 0 0 5rem 0;
  font-weight: 300;
  word-wrap: break-word;
  /* max-height: calc(100vh - 3rem - 230px); */
  overflow-y: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none;
  display: flex;
  flex-flow: column;
  align-content: center;
  max-width: 26rem;
  /* padding: 0 2rem 0 0; */
  transition: border-color 1.5s;
  transition-timing-function: cubic-bezier(.31,.57,.26,.84);
}

/* #content:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 0.5) 90%);
  width: 100%;
  height: 10em;
} */

#content:hover {
  border-color: rgb(80, 80, 80)
}

#content::-webkit-scrollbar {
  display: none;
}

#status-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.progress-container {
  background-color: rgb(255, 255, 255, 0);
  height: 8px;
  width: 100%;
}

.progress-bar {
  background-color: #9e9e9e;
  height: 12px;
  width: 0%
}

/* TODO at 760px hide icons and before element */

.banner-shine {
  background: linear-gradient(245deg, #0c0c0d, #0c0c0d, #0c0c0d, #171719, #0c0c0d, #0c0c0d, #1c1c1f, #0c0c0d, #121213, #000000, #0c0c0d, #0c0c0d, #0c0c0d);
  background-size: 2600% 2600%;
  -webkit-animation: AnimationName 41s ease infinite;
  -moz-animation: AnimationName 41s ease infinite;
  -o-animation: AnimationName 41s ease infinite;
  animation: AnimationName 41s ease infinite;
  z-index: -2;
}
  @-webkit-keyframes AnimationName {
  0%{background-position:0% 75%}
  50%{background-position:100% 26%}
  100%{background-position:0% 75%}
}
  @-moz-keyframes AnimationName {
  0%{background-position:0% 75%}
  50%{background-position:100% 26%}
  100%{background-position:0% 75%}
}
  @-o-keyframes AnimationName {
  0%{background-position:0% 75%}
  50%{background-position:100% 26%}
  100%{background-position:0% 75%}
}
  @keyframes AnimationName {
  0%{background-position:0% 75%}
  50%{background-position:100% 26%}
  100%{background-position:0% 75%}
}